@import "lib/style/vars.scss";

.sidebar-add {

  margin: 20px auto;
  .button {
    margin: 0 auto;
    @media screen and (max-width: $break-lg) {
      border: none;
    }
  }
  .text {
    font-family: $font-thin-serif;
    font-size: 15px;
    @media screen and (max-width: $break-lg) {
      display: none;
    }
  }

  @media screen and (max-width: $break-lg) {

  }
}
