@import "lib/style/vars.scss";

.sidebar-add {

  margin: 20px auto;

  &_icon {
    width: 20px;
    height: 20px;
    background-color: $green-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;
    .icon {
      height: 13px;
    }
  }
  .button {

    margin: 0 auto;
    border-radius: 10px;
    letter-spacing: -0.5px !important;

    &:hover {
      background-color: darken($white-color, 5%) !important;
    }
  }
  .text {
    font-family: $font-thin-serif;
    font-size: 15px;

  }
}
