@import 'lib/style/vars.scss';

.navigation-wrapper {

  @media screen and (max-width: $break-lg - 1) {
    display: none;
  }
}


.mobile-menu {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  // Показывать бургер до 1200 пх

  @media screen and (min-width: $break-lg) {
    display: none;
  }
  &_trigger {
    //display: none;
    border: none;
    visibility: hidden;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}


.navigation-menu {
  font-family: $font-semibold-serif;
}

.navigation-item {
  display: inline-block;
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }

  &_link {
    a {
      color: $gray-color;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: lighten($gray-color, 10%);
      }
    }
  }
}
