@import 'lib/style/vars.scss';



.navigation {
  font-family: $font-semibold-serif;

  &__main {
    @media screen and (max-width: $break-lg - 1) {
      display: none;
    }
  }

}

.navigation-main {

  &_item {
    display: inline-block;
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  &_link {
    a {
      color: $gray-color;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: lighten($gray-color, 10%);
      }
    }
  }

}

.mobile-navigation {

  @media screen and (min-width: $break-lg) {
    display: none;
  }

  &_trigger {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
