@import 'lib/style/vars.scss';

.navigation-menu {
  //color: #7B7792;
  font-family: $font-bold-serif;
}

.navigation-item {
  display: inline-block;
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }

  &_link {
    a {
      color: $gray-color;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: lighten($gray-color, 10%);
      }
    }
  }
}
