@import 'lib/style/vars.scss';

.addProduct {
  padding-top: 5rem;
  &-list {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  &-item {
    background-color: $lightblue-color;
    padding: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-form {
    &_label {
      font-family: $font-regular !important;
      text-align: center;
      margin-bottom: 2rem;
      color: $gray-color !important;
    }
    &_error {
      color: $red-color !important;
    }
    &_item {
      margin-top: 3rem;
      margin-bottom: 3rem;

      select {
        font-family: $font-semibold;
      }

      input {
        font-family: $font-semibold;
      }

      button {
        font-family: $font-semibold;
      }

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.addProductItem {
  &-preview {
    display: flex;
    align-items: center;
    &_img {
      cursor: pointer;
      width: 80%;
      margin: 0 auto;
      box-shadow: none;
      transition: box-shadow 0.2s linear;
      &:hover {
        box-shadow: -5px 10px 20px -5px rgba(0, 0, 0, 0.2);
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    color: $white-color;
    font-family: $font-regular;
    &_title {
      font-family: $font-thin;
      font-size: 1.5rem;
      letter-spacing: 0.7px;
    }
    &_paragraph {
      font-size: 1rem;
    }
  }
  &_list {
    list-style-type: none;
  }
  &_list-item {
    margin-top: 1.5rem;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eyepp_bullit%2024px%3C%2Ftitle%3E%3Cpath%20d%3D%22M12%2024c6.627%200%2012-5.373%2012-12S18.627%200%2012%200%200%205.373%200%2012s5.373%2012%2012%2012zm-1.697-5.995l8.4-9.301-1.484-1.34-7.083%207.883-3.382-2.853-1.29%201.529%204.84%204.082z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E) no-repeat center center;
      right: calc(100% + 0.8rem);
    }
  }
  &-price {
    color: #e9de1a;
    font-family: $font-semibold;
    font-size: 1.5rem;
    &_currency {
      margin-left: 0.3rem;
      margin-right: 0.4rem;
    }
  }
  &-link {
    color: $white-color;
    font-family: $font-regular;
    text-decoration: none;
    border: 2px solid $white-color;
    padding: 0.4rem 1rem;
  }
}
