@import 'lib/style/vars.scss';

.sidebar-wallets {
  width: 100%;
  position: relative;
  padding: 10px 0;

}

.sidebar-wallet {
  width: 100%;
  text-align: center;
  height: 70px;
  font-family: $font-regular;
  cursor: pointer;
  transition: background-color 0.4s ease;
  &:hover {
    background-color: #E4E8F0;
  }
  &_content {
    font-family: $font-semibold;
    text-align: left;
  }
  &_btn {
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
  }
}
.wallet-amount {
  &_name {
    font-weight: normal;
    color: $gray-color;
    white-space: nowrap;
  }
  &_value {
    font-size: 18px;
    letter-spacing: 0.8px;
    .amount_major {
      font-weight: bold;
      color: $black-color;
    }
    .amount_minor {
      color: darken($gray-color, 20%);
    }
  }
}

.wallet-icon {
  width: 40px;
  height: 40px;
  background-color: #9ecdee;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.wallet-currency {
    path {
      fill: $black-color;
    }
  }

}
