$table_body_border_top_color:             rgba(34, 36, 38, 0.1);


.table_body {
  & + tbody tr:first-child td {
    border-top: 1px solid $table_body_border_top_color;
  }

  & td {
    padding: 0;
    text-align: inherit;
  }
}
