@import 'lib/style/base.scss';

.header-breadcrumb {
  & a {
    color: $blue-color;
  }
  a.header-breadcrumb__active {
    color: #bbc1ce;
  }
  font-family: "Proxima Nova Bold", serif;
  cursor: default;
}


