$table_header_border_bottom_color:            rgba(34, 36, 38, 0.1);

.table_header {

  box-shadow: none;

  & th {
    cursor: auto;
    text-align: inherit;
    vertical-align: inherit;
    text-transform: none;
    border-bottom: 1px solid $table_header_border_bottom_color;
    border-left: none;
  }

  & tr > th:first-child {
    border-left: none;
  }

  & tr:first-child {
    & > th:first-child {
      border-radius: 0.28571429rem 0 0 0;
    }
    & > th:last-child {
      border-radius: 0 0.28571429rem 0 0;
    }
    & > th:only-child {
      border-radius: 0.28571429rem 0.28571429rem 0 0;
    }
  }

}
