@import 'lib/style/vars.scss';

.wallet-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-regular-serif;
}

.wallet-content {
  &_text {
    .text_content {
      padding: 10px 0;
      color: $white-color;
      font-size: 1rem;
    }
  }
  &_amount {
    font-family: $font-bold-serif;
    font-size: 2.2rem !important;
    letter-spacing: 2px;
    color: $white-color;
    .amount_minor {
      opacity: 0.7;
    }
  }
}
.wallet-image {
  position: relative;
  &_title {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $white-color;
    font-family: $font-bold-serif;
    font-size: 1.1rem;
  }
}

.wallet-exchange {
  &_text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-regular;
    font-size: 0.9rem;
  }
  &_empty {
    padding: 2rem 1rem;
    font-family: $font-semibold;
    font-size: 1.1rem;
  }
  &-form {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    &_item {
      input, select {
        font-family: $font-regular;
      }
      label {
        font-family: $font-regular;
      }
    }
  }
  &-operations {
    font-family: $font-regular-serif;
    &_rates {
      p {
        margin: 0;
      }
    }
    &_btn {
      margin-top: 1rem !important;
    }
  }
}

.requisites {
  &-table {
    &_item {
      border-color: lighten($lightgray-color, 25%) !important;
      padding-top: 1.2rem !important;
      padding-bottom: 1.2rem !important;
      &__right {
        text-align: right !important;
      }
    }
    &_key {
      color: $gray-color;
      font-family: $font-regular-serif;
      font-size: 0.9rem;
    }
    &_value {
      color: $black-color;
      text-transform: uppercase;
      font-family: $font-regular-serif;
      font-size: 1rem;
    }
  }

  &_qrcode {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EEF2F7;
    }
    &-content {
      width: 90%;
      height: 90%;
    }
  }
  &_btn {
    margin-top: 2rem !important;
  }
}
