@import 'lib/style/vars.scss';

.dashboard-banners {
  @media screen and (max-width: $break-420) {
    display: none;
  }
  .dashboard-banner {
    width: 100%;

    &_item {
      width: 98%;
      height: 100%;
      position: relative;
      border: 1px solid rgba(147,147,147,.3);
      border-radius: 5px 5px 5px 5px;
      overflow: hidden;
    }
    &_mobile {
      float: right;
    }
    &_load-account {
      float: left;
    }
  }
  .banner-mobile {
    position: absolute;
    top: 20px;
    right: 20px;

    @media screen and (max-width: $break-991) {
      top: 5px;
      right: 5px;
    }
    &_item {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
      .image {
        @media screen and (max-width: $break-1337) {
          width: 90px;
        }

      }
      display: block;
    }
  }
  .banner-load {
    position: absolute;
    top: 30px;
    right: 25px;
    color: $white-color;
    @media screen and (max-width: $break-991) {
      top: 10px;
      right: 10px;
    }
    @media screen and (max-width: $break-575) {
      top: 10px;
      right: 5px;
    }

    &_title {
      font-family: $font-bold-serif;
      margin-right: 7px;
      font-size: 2.1em;
      cursor: default;
      @media screen and (max-width: $break-991) {
        font-size: 1.5em;
      }
      @media screen and (max-width: $break-sm) {
        font-size: 1em;
      }
      @media screen and (max-width: $break-575) {
        font-size: 1.4em;
      }
    }
    &_content {
      position: absolute;
      right: 0;
      top: 63px;
      width: 190px;
      @media screen and (max-width: $break-1337) {
        width: 150px;
      }
      @media screen and (max-width: $break-991) {
        top: 30px;
        width: 100px;
      }
      @media screen and (max-width: $break-sm) {
        width: 70px;
      }
      @media screen and (max-width: $break-575) {
        width: 120px;
        top: 40px;
      }
      @media screen and (max-width: $break-490) {
        width: 90px;
      }
    }
  }
  .load-content {
    &_text {
      text-align: right;
      font-family: $font-bold;
      font-size: 1.1em;
      cursor: default;
      @media screen and (max-width: $break-1337) {
        font-size: 0.9em;
      }
      @media screen and (max-width: $break-991) {
        font-size: 0.65em;
      }
      @media screen and (max-width: $break-sm) {
        font-size: 0.5em;
      }
      @media screen and (max-width: $break-575) {
        font-size: 1em;
      }
      @media screen and (max-width: $break-490) {
        font-size: 0.7em;
      }
    }

    &_btn {
      float: right;
      margin-top: 45px;
      margin-right: 8px;
      padding: 8px 30px;
      background-color: #120340;
      border: none;
      outline: none;
      font-family: $font-bold;
      border-radius: 7px;
      font-size: 1.3em;
      text-decoration: none;
      color: #e8e8e8;
      cursor: pointer;
      box-shadow: 0 0 46px 6px rgba(255, 255, 255, .4);
      transition: background-color .5s ease, box-shadow .5s ease;
      &:hover {
        background-color: lighten(#120340, 5%);
        box-shadow: 0 0 46px 6px rgba(255, 255, 255, .45);
      }
      @media screen and (max-width: $break-1337) {
        margin-top: 20px;
      }
      @media screen and (max-width: $break-991){
        margin-right: 0;
        font-size: 0.9em;
        padding: 6px 15px;
      }
      @media screen and (max-width: $break-sm) {
        margin-top: 5px;
        margin-right: -5px;
      }
      @media screen and (max-width: $break-575) {
        margin-top: 15px;
        margin-right: 10px;
      }
      @media screen and (max-width: $break-490) {
        margin-right: 10px;
      }
    }
  }
}
