@import 'lib/style/vars.scss';

.card-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  line-height: 7.5rem;
  background: rgb(31,157,254);
  background: -moz-linear-gradient(left, rgba(31,157,254,1) 0%, rgba(241,250,255,1) 100%, rgba(241,250,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(31,157,254,1) 0%,rgba(241,250,255,1) 100%,rgba(241,250,255,1) 100%);
  background: linear-gradient(to right, rgba(31,157,254,1) 0%,rgba(241,250,255,1) 100%,rgba(241,250,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f9dfe', endColorstr='#f1faff',GradientType=1 );
}


.card-content {
  cursor: default;
  &_text {
    .text_content {
      padding: 10px 0;
      color: $gray-color;
      font-size: 1rem;
    }
  }
  &_amount {
    font-family: $font-bold-serif;
    font-size: 2.2rem !important;
    letter-spacing: 2px;
    .amount_major {
      color: $black-color;
    }
    .amount_minor {
      color: darken($gray-color, 20%);
    }
  }
}
.card-image {
  position: relative;
  &_thumb {
    img {
      width: 100%;
    }
  }
  &_title {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: default;
    transform: translateY(-50%);
    color: $white-color;
    font-family: $font-bold-serif;
    font-size: 1.1rem;
  }
}
