@import "lib/style/base.scss";
$button-border-radius:            4px;

$button-font-color-white:         #ffffff;
$button-font-family:              'Lato', sans-serif;

$button-bgc-green:                #5FBD8B;
$button-bgc-red:                  #EE444A;
$button-disabled-color:           #efefef;



.button {

  &, *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  border: none;
  outline: none;
  cursor: pointer;

  color: $white-color;
  border-radius: $button-border-radius;
  transition: all 0.4s ease;
  position: relative;

  &__loading {
    // TODO вынести в отдельный стайл
    .spinner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(147,147,147,0.7);
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border: 2px solid #f3f3f3;
        border-top: 3px solid lighten($blue-color, 10%);
        border-radius: 100%;
        animation: spin 1s infinite linear;
      }
    }
  }

  @include keyframes(spin) {
    from{
      transform: translate(-50%, -50%) rotate(0deg);
    }to{
       transform: translate(-50%, -50%) rotate(360deg);
     }
  }

  &__fluid {
    width: 100%;
  }

  &__block {
    display: block;
  }

  &__inline {
    display: inline-block;
  }

  &__floated {

    &_left {
      float: left;
    }

    &_right {
      float: right;
    }

  }

  &__disabled {
    background-color: darken($button-disabled-color, 15%) !important;
    cursor: default;
  }

  &__color {

    &_black {
      background-color: $black-color;
      &:hover, &:focus {
        background-color: lighten($black-color, 10%);
      }
      &:active {
        background-color: lighten($black-color, 20%);
      }
    }

    &_white {
      background-color: $white-color;
      color: $black-color;
      &:hover, &:focus {
        background-color: darken($white-color, 6%);
      }
      &:active {
        background-color: darken($white-color, 10%);
      }
    }

    &_gray {
      background-color: $gray-color;
      color: $white-color;
      &:hover, &:focus {
        background-color: darken($gray-color, 6%);
      }
      &:active {
        background-color: darken($gray-color, 10%);
      }
    }

    &_lightblue {
      background-color: $lightblue-color;
      &:hover, &:focus {
        background-color: darken($lightblue-color, 6%);
      }
      &:active {
        background-color: darken($lightblue-color, 10%);
      }
    }

    &_green {
      background-color: $green-color;
      &:hover, &:focus {
        background-color: darken($button-bgc-green, 6%);
      }
      &:active {
        background-color: darken($button-bgc-green, 10%);
      }
    }

    &_red {
      background-color: $red-color;
      &:hover, &:focus {
        background-color: darken($red-color, 6%);
      }
      &:active {
        background-color: darken($red-color, 10%);
      }
    }

    &_blue {
      background-color: $blue-color;
      &:hover, &:focus {
        background-color: darken($blue-color, 6%);
      }
      &:active {
        background-color: darken($blue-color, 10%);
      }
    }

    &_orange {
      background-color: $orange-color;
      &:hover, &:focus {
        background-color: darken($orange-color, 6%);
      }
      &:active {
        background-color: darken($orange-color, 10%);
      }
    }

    &_transparent {

      background-color: transparent;
      &:hover, &:focus {
        background-color: darken(#555555, 6%);
      }
      &:active {
        background-color: darken(#555555, 10%);
      }
    }
  }

  &__size {
    &_xs {
      padding: 5px 7px;
    }

    &_sm {
      padding: 10px 14px;
    }

    &_md {
      padding: 0.8em 2em;
    }

    &_lg {
      padding: 14px;
    }
  }
}
