
.align_left {
  text-align: left;
}

.align_right {
  text-align: right;
}

.align_center {
  text-align: center;
}

.align_justify {
  text-align: justify;
}

.text_breakword {
  hyphens: auto;
  word-wrap: break-word;
}

.text-style_regular {
  font-style: normal;
}

.text-style_italic {
  font-style: italic;
}
