@import "lib/style/vars.scss";

.header {
  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  &-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-content {
    height: 80px;
    &:after {
      content: '';
      width: 80px;
      display: block;
    }
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  // Блок с логотипом
  &-logo {
    cursor: pointer;
    @media screen and (max-width: $break-lg - 1) {
      order: 2;
    }
    @media screen and (max-width: $break-sm) {
      margin-top: 0.5rem;
      svg {
        width: 80px;
      }
    }
  }

  // Блок с дополнительной инфой - логаут и вызов бокового меню
  &-aside {
    color: #736F8C;
    font-family: $font-bold-serif;
    font-size: 1rem;
    font-weight: bold;

    &_button {
      border: none;
      background: none;
      &:focus {
        outline: none;
      }
    }
    @media screen and (max-width: $break-lg) {
      margin-top: 0.6rem;
      order: 3;
    }
  }
}

.logout {
  cursor: pointer;
  font-family: $font-semibold-serif;
  .text {
    color: $gray-color;
    display: flex;
    align-items: center;
    &_content {
      margin-right: 0.5rem;
    }
    &:hover {
      color: lighten($gray-color, 10%);
    }
  }

}
