@import "lib/style/vars.scss";

.header {
  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  padding: 0 20px;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &-logo {
    cursor: pointer;
    @media screen and (max-width: $break-lg) {
      order: 1;
    }
    @media screen and (max-width: $break-sm) {
      svg {
        width: 80px;
      }
    }
  }
  &-logout {
    color: #736F8C;
    font-family: $font-bold-serif;
    font-size: 18px;
    font-weight: bold;
    @media screen and (max-width: $break-lg) {
      order: 2;
    }
  }

  &_navigation {
    width: 100%;
    padding: 0 100px;
    @media screen and (max-width: $break-lg) {
      order: 0;
      padding: 0;
      width: auto;
    }
  }
}
.header-breadcrumbs-wrapper {
  @media screen and (max-width: $break-420) {
    display: flex;
    justify-content: center;
  }
}
