@import "lib/style/vars.scss";

.header {
  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  &-content {
    height: 81px;
    padding: 0 20px;
  }

  &-breadcrumb {
    height: 39px;
    padding: 0 20px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  // Блок с логотипом
  &-logo {
    cursor: pointer;
    @media screen and (max-width: $break-lg - 1) {
      order: 3;
    }
    @media screen and (max-width: $break-sm) {
      svg {
        width: 80px;
      }
    }
  }

  // Блок с дополнительной инфой - логаут и вызов бокового меню
  &-aside {
    color: #736F8C;
    font-family: $font-bold-serif;
    font-size: 18px;
    font-weight: bold;
    &_logout {
      @media screen and (max-width: $break-lg - 1) {
        display: none;
      }
    }
    &_trigger {
      @media screen and (min-width: $break-lg) {
        display: none;
      }
    }
    &_button {
      border: none;
      background: none;
      &:focus {
        outline: none;
      }
    }
    @media screen and (max-width: $break-lg) {
      order: 2;
    }
  }

  &-navigation {
    width: 100%;
    padding: 0 100px;
    @media screen and (max-width: $break-lg - 1) {
      order: 4;
      padding: 0;
      width: auto;
    }
  }
}
.header-breadcrumbs-wrapper {
  @media screen and (max-width: $break-420) {
    display: flex;
    justify-content: center;
  }
}
