@import 'lib/style/vars.scss';

.main {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }
  width: 100%;

}
.sidebar {
  width: 270px;
  background: #ffffff;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999;
  box-shadow: 4px 0 29px 0 rgba(0,0,0,0.07);

  //overflow: hidden;
  transition: width 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  //@media screen and (max-width: $break-lg) {
  //  width: 70px;
  //}
  // TEST
  @media screen and (max-width: $break-lg - 1) {
    display: none;
  }
}

.sidebar-container {
  display: flex;
  align-items: center;
  &_icon {
    flex: 0 0 70px;
  }
  &_content {
    flex-basis: 100%;
  }
  &_btn {
    flex: 0 0 30px;
  }
}

.wrapper {
  width: 100%;
  padding-left: 270px;

  //@media screen and (max-width: $break-lg) {
  //  padding-left: 70px;
  //}
  @media screen and (max-width: $break-lg - 1) {
    padding: 0;
  }

  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  transition: padding-left 0.2s ease;


}
.dashboard-wrapper {
  flex: 1 1 auto;
  padding: 20px;
}

.header-wrapper {
  background-color: #fff;
  width: 100%;
  flex: none;
}

.footer-wrapper {
  background: #E4E8F0;
  height: 90px;
  width: 100%;
  flex: none;
}


