@import 'lib/style/vars.scss';

.main {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  width: 100%;

}
.sidebar {
  width: 270px;
  background: #ffffff;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  box-shadow: 4px 0px 29px 0px rgba(0,0,0,0.05);
  transition: width 0.5s ease;
  //left: -270px;
  &__left {
    width: 25%;
    @media screen and (max-width: $break-lg) {
      width: 100%;
    }
  }
  &__right {
    width: 75%;
    @media screen and (max-width: $break-lg) {
      width: 0;
    }
  }
  @media screen and (max-width: $break-lg) {
    width: 70px;
  }
  // TEST
  @media screen and (max-width: 420px) {
    display: none;
  }
}

.wrapper {
  width: 100%;
  padding-left: 270px;
  @media screen and (max-width: $break-lg) {
    padding-left: 70px;
  }
  @media screen and (max-width: 420px) {
    //padding-left: 70px;
    padding: 0;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  transition: padding-left 0.5s ease;
}
.container {
  width: 100%;
  flex: 1;
  padding: 20px;
  //background-color: tomato;
}
.header-wrapper {
  background-color: #fff;
  width: 100%;
  flex: none;
}
.footer {
  background: #E4E8F0;
  width: 100%;
  flex: none;
}
