@import 'lib/style/vars.scss';

.main {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  width: 100%;

}
.sidebar {
  width: 270px;
  background: #ffffff;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999;
  box-shadow: 4px 0 29px 0 rgba(0,0,0,0.07);

  //overflow: hidden;
  transition: width 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  @media screen and (max-width: $break-lg) {
    width: 70px;
  }
  // TEST
  @media screen and (max-width: 420px) {
    display: none;
  }
}

.sidebar-container {
  display: flex;
  align-items: center;
  &_icon {
    flex: 0 0 70px;
  }
  &_content {
    flex-basis: 100%;
  }
  &_btn {
    flex: 0 0 30px;
  }
}

.wrapper {
  width: 100%;
  padding-left: 270px;
  @media screen and (max-width: $break-lg) {
    padding-left: 70px;
  }
  @media screen and (max-width: 420px) {
    //padding-left: 70px;
    padding: 0;
  }
  //display: flex;
  //flex-direction: column;
  //align-items: stretch;
  //height: 100%;
  //min-height: 100vh;
  //flex: 1;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  transition: padding-left 0.2s ease;
}
.container {
  //width: 100%;
  //flex: 1;
  //min-height: 100vh;
  //flex: 1 0 auto;
  flex: 1 1 auto;
  padding: 20px;
  //flex: 1;
  //flex-grow: 1;
  //background-color: tomato;
}
.header-wrapper {
  background-color: #fff;
  //width: 100%;
  //flex: none;
}

//.header-wrapper, .footer {
//  flex-shrink: 0;
//}

.footer-wrapper {
  background: #E4E8F0;
  height: 90px;
  //width: 100%;
  //flex: none;
}


.dashboard-banner {
  width: 100%;

  &_item {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &_load-account {

  }
}
.banner-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
  &_item {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
    display: block;
  }
}
.banner-load {
  position: absolute;
  top: 35px;
  right: 25px;
  color: $white-color;
  &_title {
    font-family: $font-bold-serif;
    margin-right: 7px;
    font-size: 2.3em;
  }
  &_content {
    position: absolute;
    right: 0;
    top: 63px;
    width: 190px;
  }
}
.load-content {
  &_text {
    text-align: right;
    font-family: $font-bold;
    font-size: 1.3em;
  }

  &_btn {
    float: right;
    margin-top: 45px;
    margin-right: 8px;
    padding: 8px 30px;
    background-color: #120340;
    border: none;
    outline: none;
    font-family: $font-bold;
    border-radius: 7px;
    font-size: 1.3em;
    color: #e8e8e8;
    cursor: pointer;
    box-shadow: 0 0 46px 6px rgba(255,255,255,.4);
    transition: background-color .5s ease, box-shadow .5s ease;
    &:hover {
      background-color: lighten(#120340, 5%);
      box-shadow: 0 0 46px 6px rgba(255,255,255,.45);
    }
  }
}
