@import 'lib/style/vars.scss';

$item-bgc:            #E4EAF4;

.control-panel {
  &_item {
    display: inline-block;
    margin-left: 40px;
    border-radius: 5px;
    padding: 8px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    &:first-child {
      margin-left: 0;
    }
    &__active {
      background-color: $item-bgc;
    }
  }

  &_item-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
  }

  &_item-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    position: relative;
    a {
      font-family: $font-semibold-serif;
      color: $black-color;
      text-decoration: none;
      transition: color 0.2s ease;
    }
    &:after {
      position: absolute;
      content: '';
      display: block;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: lighten($black-color, 50%);

    }
  }
}
