@import 'lib/style/vars.scss';

.sidebar {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  background: $white-color;
  box-shadow: 4px 0 29px -5px rgba(0,0,0,0.07);
  width: $sidebar-width;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  overflow: hidden;
  transition: left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);

  &_title {
    font-family: $font-regular-serif;
    color: $gray-color;
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
  }

  .sidebar-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: $scroll-width;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // todo нужен фикс скрола для мобилок
  .sidebar-inner {
    width: calc(100% + 17px);
  }

  @media screen and (max-width: $break-lg - 1) {
    left: -$sidebar-width;
  }

  &-close {
    display: none;
    width: $sidebar-width;
    height: 55px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: $white-color;
    transition: background-color 0.4s ease-out;

    @media screen and (max-width: $break-lg - 1) {
      display: block;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #dbe1e8;
    }

    &:hover &_text {
      font-size: 1rem;
    }

    &_icon {
      display: inline-block;
      vertical-align: middle;
      svg {
        width: 45px;
        height: 45px;
        path:first-child {
          fill: $gray-color;
        }
      }
    }

    &_text {
      font-size: 0;
      vertical-align: middle;
      display: inline-block;
      font-family: $font-regular-serif;
      color: $gray-color;
      transition: font-size 0.2s ease;
    }
  }

  &__active {
    left: 0;
  }

  &_item {
    width: $sidebar-width;
  }

  &-container {
    display: flex;
    align-items: center;
    &_icon {
      flex: 0 0 70px;
    }
    &_content {
      flex-basis: 100%;
    }
    &_btn {
      flex: 0 0 40px;
    }
  }

  &-mobile {
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    z-index: 999999;
    @media screen and (min-width: $break-lg) {
      display: none;
    }
    &_button {
      cursor: pointer;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid lighten($lightblue-color, 10%);
      border-radius: 50%;
      background: none;
      &:focus {
        outline: none;
      }
    }
  }
}

.user-info {

  background-color: $lightblue-color;
  font-family: $font-regular-serif;
  height: 80px;

  &_avatar {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    background: darken($white-color, 5%);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: darken($white-color, 1%);
    }

    & svg {
      position: absolute;
      top: 50%;
      left: calc(50% + 1px);
      transform: translate(-50%, -50%);
      path {
        fill: $lightblue-color;
      }
    }

  }
  &_name {
    &__verification {
      text-transform: uppercase !important;
    }
    & a {
      color: $white-color;
      transition: color 0.3s ease;
      font-size: 1.1em;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: darken($white-color, 10%);
      }
    }
  }
}


.sidebar-wallets {
  width: 100%;
  padding: 1.2rem 0;
}

.sidebar-wallet {
  position: relative;
  width: 100%;
  text-align: center;
  height: 5rem;
  font-family: $font-regular;
  cursor: default;
  transition: background-color 0.4s ease;
  background-color: darken($white-color, 2%);

  &:hover:not(&__active) {
    background-color: darken($white-color, 5%);
  }

  &_edit {

    &-input {
      width: 150px;
    }

    &-btn {
      border: none;
      background: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    svg {
      font-size: 1.2rem;
      path {
        transition: fill 0.3s ease;
      }
    }

    &__rename {
      path {
        fill: $green-color;
      }
      &:hover path {
        fill: lighten($green-color, 7%);
      }
    }

    &__delete {
      path {
        fill: $red-color;
      }
      &:hover path {
        fill: lighten($red-color, 7%);
      }
    }

    &__disabled {
      svg path {
        fill: $lightgray-color !important;
      }
    }
  }

  &__active {
    &:after {
      content: '';
      position: absolute;
      background-color: $lightblue-color;
      width: 0.5rem;
      top: 0;
      bottom: 0;
    }
  }

  &-content {
    font-family: $font-semibold;
    text-align: left;
  }

  &_btn {
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
  }

  &-amount {

    &_name {
      a {
        font-size: 1rem;
        font-weight: normal;
        white-space: nowrap;
        color: $darkpurple-color;
        text-decoration: none;
      }
      input {
        font-family: $font-regular;
        font-size: 1rem;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &_value {
      font-size: 1.1rem;
      letter-spacing: 0.8px;
      .amount_major {
        color: $darkpurple-color;
        font-family: $font-semibold-serif;
      }
      .amount_minor {
        color: darken($darkpurple-color, 20%);
        font-family: $font-semibold;
      }
    }

  }

  &-icon {
    width: 40px;
    height: 40px;
    background-color: #F0FAFF;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.wallet-currency {
      path {
        fill: $lightblue-color;
      }
    }

  }
}

.sideProduct-add {

  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid lighten($lightblue-color, 20%);
    width: 75%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
    background-color: $white-color;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: lighten($lightblue-color, 44%);
    }
  }
  &_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
    background-color: $green-color;
    border-radius: 50%;
    border: 1px solid $green-color;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
    path {
      fill: $white-color;
    }
  }
  &_text {
    font-size: 1.1rem;
    margin-left: 0.3rem;
    color: $black-color;
  }
}

.sidebar-notice {

  font-family: $font-regular-serif;
  font-weight: bold;

  height: 40px;
  overflow: hidden;
  background-color: $notification-error;
  width: 100%;
  white-space: nowrap;

  &_icon {
    svg {
      display: block;
      margin: 0 auto;
    }
  }

  &_message {
    color: $white-color;
    font-size: 16px;
    cursor: default;
  }
}


.productNew {
  &-list {

  }

  &-item {
    background-color: $lightblue-color;
    padding: 2.5rem;
  }
}

.productNewItem {

  &-preview {
    display: flex;
    align-items: center;
    &_img {
      cursor: pointer;
      width: 80%;
      margin: 0 auto;
      box-shadow: none;
      transition: box-shadow 0.2s linear;
      &:hover {
        box-shadow: -5px 10px 20px -5px rgba(0, 0, 0, 0.2);
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    color: $white-color;
    font-family: $font-regular;
    &_title {
      font-family: $font-thin;
      font-size: 1.5rem;
      letter-spacing: 0.7px;
    }
    &_paragraph {
      font-size: 1rem;
    }
  }
  &_list {
    list-style-type: none;
  }
  &_list-item {
    margin-top: 1.5rem;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eyepp_bullit%2024px%3C%2Ftitle%3E%3Cpath%20d%3D%22M12%2024c6.627%200%2012-5.373%2012-12S18.627%200%2012%200%200%205.373%200%2012s5.373%2012%2012%2012zm-1.697-5.995l8.4-9.301-1.484-1.34-7.083%207.883-3.382-2.853-1.29%201.529%204.84%204.082z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E) no-repeat center center;
      right: calc(100% + 0.8rem);
    }
  }
  &-price {
    color: #e9de1a;
    font-family: $font-semibold;
    font-size: 1.5rem;
    &_currency {
      margin-left: 0.3rem;
      margin-right: 0.4rem;
    }
  }
  &-link {
    color: $white-color;
    font-family: $font-regular;
    text-decoration: none;
    border: 2px solid $white-color;
    padding: 0.4rem 1rem;
  }
}
