@import 'lib/style/vars.scss';

.sidebar {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  background: $white-color;
  box-shadow: 1px 2px 15px 0 rgba(0,0,0,.15);
  width: $sidebar-width;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  //z-index: 9999999;
  overflow: hidden;
  transition: left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);

  &_title {
    font-family: $font-regular-serif;
    color: $gray-color;
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
  }

  .sidebar-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: $scroll-width;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar-inner {
    width: calc(100% + 17px);
  }

  @media screen and (max-width: $break-lg - 1) {
    left: -$sidebar-width;
  }

  &-close {
    display: none;
    width: $sidebar-width;
    height: 55px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: $white-color;
    transition: background-color 0.4s ease-out;

    @media screen and (max-width: $break-lg - 1) {
      display: block;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #dbe1e8;
    }

    &:hover &_text {
      font-size: 1rem;
    }

    &_icon {
      display: inline-block;
      vertical-align: middle;
      svg {
        width: 45px;
        height: 45px;
        path:first-child {
          fill: $gray-color;
        }
      }
    }

    &_text {
      font-size: 0;
      vertical-align: middle;
      display: inline-block;
      font-family: $font-regular-serif;
      color: $gray-color;
      transition: font-size 0.2s ease;
    }
  }

  &__active {
    left: 0;
  }

  &_item {
    width: $sidebar-width;
    &__loading {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

      }
      .user-info_avatar, .sidebar-wallet-icon {
        background-color: transparent;
        box-shadow: inset 0px 0px 10px 20px rgba(147, 147, 147, 0.05), 0px 0px 10px 5px rgba(147, 147, 147, 0.1);
      }
      *, *:after, *:before {
        color: transparent !important;
        fill: transparent !important;
      }

      text-shadow: 0 0 (1.1rem / 1) $black-color !important;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    &_icon {
      flex: 0 0 70px;
    }
    &_content {
      flex-basis: 100%;
      max-width: 162px; // todo пофиксить очень длинное имя кошелька в сайдбаре (сделать перевод на новую строку)
    }
    &_btn {
      flex: 0 0 40px;
    }
  }

  &-mobile {
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    z-index: 999999;
    @media screen and (min-width: $break-lg) {
      display: none;
    }
    &_button {
      cursor: pointer;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid lighten($lightblue-color, 10%);
      border-radius: 50%;
      background: none;
      &:focus {
        outline: none;
      }
    }
  }
}

.user-info {

  background-color: $lightblue-color;
  font-family: $font-regular-serif;
  height: 80px;

  &_avatar {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    background: darken($white-color, 5%);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: darken($white-color, 1%);
    }

    & svg {
      position: absolute;
      top: 50%;
      left: calc(50% + 1px);
      transform: translate(-50%, -50%);
      path {
        fill: $lightblue-color;
      }
    }

  }
  &_name {
    &__verification {
      text-transform: uppercase !important;
    }
    & a {
      color: $white-color;
      transition: color 0.3s ease;
      font-size: 1.1rem;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: darken($white-color, 10%);
      }
    }
  }
}
//color: transparent;
//text-shadow: 0 0 (1.1rem / 1) $black-color;
.sidebar-cards {
  margin-bottom: 2rem;
}

.sidebar-wallets {
  width: 100%;
  padding: 1.2rem 0;
}

.sidebar-wallet {
  position: relative;
  width: 100%;
  text-align: center;
  height: 5rem;
  font-family: $font-regular;
  cursor: default;
  transition: background-color 0.4s ease;
  background-color: darken($white-color, 2%);

  &:hover &_edit {
    opacity: 1;
  }

  &:hover &_btn {
    &:after {
      content: none;
    }
  }

  &:hover:not(&__active) {
    background-color: darken($white-color, 5%);
  }

  &_card-status {
    font-family: $font-regular;
    text-transform: uppercase;
    color: $blue-color;
    &__update {
      color: $red-color;
    }
  }

  &_control-change {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_edit {

    opacity: 0;
    transition: opacity 0.25s ease;
    position: relative;

    &-input {
      width: 150px;
    }

    &-btn {
      border: none;
      background: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &__loading {
        svg path {
          fill: $lightgray-color !important;
        }
      }
    }

    svg {
      font-size: 1.2rem;
      path {
        transition: fill 0.3s ease;
      }
    }

    &__rename {
      path {
        fill: $green-color;
      }
      &:hover path {
        fill: lighten($green-color, 7%);
      }
    }

    &__delete {
      path {
        fill: $red-color;
      }
      &:hover path {
        fill: lighten($red-color, 7%);
      }
    }

    &__close {
      svg {
        font-size: 1.5rem;
      }
      path {
        fill: $red-color;
      }
      &:hover path {
        fill: lighten($red-color, 7%);
      }
    }

    &__apply {
      svg {
        font-size: 1.5rem;
      }
      path {
        fill: $green-color;
      }
      &:hover path {
        fill: lighten($green-color, 7%);
      }
    }

    &__update {
      svg {
        margin-top: 5px;
        font-size: 1.3rem;
      }
      path {
        fill: $lightblue-color;
      }
      &:hover path {
        fill: lighten($lightblue-color, 7%);
      }
    }

  }

  &__active {
    background-color: lighten($lightblue-color, 44%);
    &:after {
      content: '';
      position: absolute;
      background-color: $lightblue-color;
      width: 0.5rem;
      top: 0;
      bottom: 0;
    }
  }

  &-content {
    font-family: $font-semibold;
    text-align: left;
  }

  &_btn {
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;

    &:after {
      content: '...';
      display: block;
      color: $lightblue-color;
      position: absolute;
      right: 1rem;
      top: calc(50% - 0.3rem);
      transform: translateY(-50%);
    }

  }

  &-amount {
    a {
      font-size: 1rem;
      font-weight: normal;
      white-space: nowrap;
      color: $darkpurple-color;
      text-decoration: none;
    }
    &_name {

      input {
        font-family: $font-regular;
        font-size: 1rem;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &_value {
      font-size: 1.1rem;
      letter-spacing: 0.8px;
      .amount_major {
        color: $darkpurple-color;
        font-family: $font-semibold-serif;
      }
      .amount_minor {
        color: darken($darkpurple-color, 20%);
        font-family: $font-semibold;
      }
    }

  }
  &-icon {
      width: 40px;
      height: 40px;
      background-color: #F0FAFF;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
  }
  .wallet-currency {
    &_symbol {
      line-height: 40px;
      color: $lightblue-color;
      font-size: 1.5rem;
    }
  }
}

.sideProduct-add {
  padding-top: 0.4rem;
  padding-bottom: 0.7rem;
  background-color: $white-color;
  transition: background-color 0.15s linear;

  &__active {
    opacity: 1;
    background-color: lighten($lightblue-color, 40%);
  }

  &_link {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  &_text {
    font-family: $font-semibold;
    font-size: 1.05rem;
    color: $lightblue-color;
  }

  &_icon {
    color: $lightblue-color;
    & > svg {
      font-size: 2.2rem;
    }
  }

  &:hover {
    background-color: lighten($lightblue-color, 40%);
  }

}

.sidebar-notice {

  font-family: $font-regular-serif;
  font-weight: bold;

  height: 40px;
  overflow: hidden;
  background-color: $notification-error;
  width: 100%;
  white-space: nowrap;

  a {
    color: $white-color;
    text-decoration: none;
    font-family: $font-semibold;
    transition: color 0.2s ease;
    &:hover {
      color: darken($white-color, 5%);
    }
  }

  &_icon {
    svg {
      display: block;
      margin: 0 auto;
    }
  }

  &_message {
    color: $white-color;
    font-size: 16px;
    cursor: default;
  }
}


