@import "lib/style/vars.scss";

.data-table {
  &_loader {
    height: 40px;
    position: relative;
  }
}
.transactions {
  position: relative;
}
.transactions-table {
  &_head {
    td {
      color: $blue-color;
      font-family: $font-semibold-serif;
      font-size: 0.95rem;
    }
  }
  &_content {
    cursor: default;
    font-family: $font-regular !important;
    &:nth-child(odd) {
      background-color: lighten($lightblue-color, 44%);
    }
    td {
      font-size: 0.9rem !important;
      padding-top: 1.4rem !important;
      padding-bottom: 1.4rem !important;
      color: #333333;
    }
  }
  &_amount {
    font-family: $font-regular-serif;
    .amount {
      &_major {
        color: #1ac422;
      }
      &_minor {
        opacity: 0.8;
      }
    }
    .amount_operation__color_minus {
      color: $black-color;
    }
  }
}

.filter {
  border: 1px solid $lightgray-color;
  border-radius: 8px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &-date {
    width: 30%;
    height: 100%;
    position: relative;
  }
  &_date {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    background-color: $lightblue-color;
    border-radius: 6px;
    font-size: 1.1rem;
    font-family: $font-semibold;
  }
  .input_icon {
    top: calc(50% + 0.1rem);
  }
  &-search {
    display: inline-block;
    width: 70%;
    height: 42px;
    &_icon {
      font-size: 2rem !important;
      path {
        fill: $lightgray-color;
      }
    }
  }
  &_input {
    width: 100%;
    margin: 0;
    height: 100%;
    float: right;
    .input_wrapper {
      height: 100%;
    }
    input {
      padding-left: 35px;
      margin: 0;
      height: 100%;
      border: none;
      font-size: 1.15rem;
      font-family: $font-regular-serif;
      &:focus {
        border: none;
        outline: none;
      }
      &::placeholder {
        color: $lightgray-color;
        font-size: 1.15rem;
        font-family: $font-regular-serif;
      }
    }
  }
}

.date-select {
  position: absolute;
  min-width: 250px;
  max-width: 320px;
  top: 110%;
  left: 10px;
  background-color: darken($white-color, 1%);
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  transition: background-color 0.5s linear;
  &_item {
    border-bottom: 1px solid darken($white-color, 1%);
    padding-top: 6px;
    z-index: 9999;
    padding-bottom: 6px;
    label {
      display: block;
      font-family: $font-regular-serif;
      font-size: 1.2rem;
      color: $black-color;
      padding-left: 20px;
      padding-right: 70px;
      cursor: pointer;
      transition: background-color 0.1s ease;
    }
    &:last-child {
      border: none
    }
    &:hover {
      background-color:darken($white-color, 5%);
    }
  }
  .date-range_trigger {
    width: 100%;
    display: block;
    background: none;
    border: none;
    font-family: $font-regular-serif;
    font-size: 1.2rem;
    text-align: left;
    color: $black-color;
    padding: 10px 70px 10px 20px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color:darken($white-color, 5%);
    }
  }
}
.date-filter {
  position: relative;
  height: 100%;
  &_icon {
    font-size: 2rem !important;
    margin-top: 0.2rem;
  }
  &_current {
    height: 100%;
    .text {
      height: 100%;
      display: flex;
      align-items: center;
      color: $white-color;
      font-size: 1rem;
      justify-content: space-between;
    }
    button {
      height: 100%;
      width: 100%;
      background: none;
      border: none;
      font-family: $font-semibold-serif;
      font-size: 1.1rem;
      text-align: left;
      padding-left: 20px;
      line-height: 45px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  input[type='radio'] {
    display: none;
  }

}


.date-range {

  padding: 30px 20px 20px;
  width: 320px;
  .range-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &_button {
    margin-top: 1rem !important;
    font-family:$font-regular-serif !important;
  }
  &_item {
    width: 40%;
    position: relative;
  }
  &_divider {
    width: 5px;
    height: 1px;
    background-color: $black-color;
  }
  &_label {
    position: absolute;
    top: -18px;
    left: 0;
    cursor: default;
    font-family: $font-regular-serif;
    font-size: 0.85rem;
    color: $black-color;
  }
}

.date-datepicker-input {
  width: 100%;
  padding: 5px;
  font-family: $font-regular-serif;
  color: $black-color;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: center;
  border: 1px solid $gray-color;
}

.date-datepicker-v1 {
  font-family: $font-regular-serif;
  .react-datepicker__today-button {
    color: $blue-color;
    background-color: #E4E9F3;
    border: none;
    padding: 10px;
    transition: background-color 0.1s ease;
    &:hover {
      background-color: darken(#E4E9F3, 5%);
    }
  }
  .react-datepicker__current-month {
    //color: $blue-color;
    color: $black-color;
  }
  .react-datepicker__header {
    background-color: #E4E9F3;
    border-bottom: none;
    //border-bottom: 1px solid #aeaeae;
  }

  .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: $lightblue-color;
    color: #fff;
  }

  .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
    background-color: $blue-color;
  }

  .react-datepicker__day--keyboard-selected {
    background-color: #2a87d0;
    color: #fff;
  }

  .react-datepicker__day--keyboard-selected:hover {
    background-color: #1d5d90;
  }

  .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
    background-color: rgba(33, 107, 165, 0.5);
  }

  .react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
    background-color: lighten($lightblue-color, 35%);
    color: #333;
  }
}
