@import 'lib/style/vars.scss';

.wallet-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.wallet-content {
  &_text {
    .text_content {
      padding: 10px 0;
      color: $gray-color;
      font-size: 1rem;
    }
  }
  &_amount {
    font-family: $font-bold-serif;
    font-size: 2.2rem !important;
    letter-spacing: 2px;
    .amount_major {
      color: $black-color;
    }
    .amount_minor {
      color: darken($gray-color, 20%);
    }
  }
}
.wallet-image {
  position: relative;
  &_thumb {

  }
  &_title {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $white-color;
    font-family: $font-bold-serif;
    font-size: 1.1rem;
  }
}
