$table_footer_border_top_color:            rgba(34, 36, 38, 0.15);

.table_footer {

  box-shadow: none;

  & th {
    border-top: 1px solid $table_footer_border_top_color;
    text-align: inherit;
    padding: 0;
    vertical-align: middle;
  }

  & tr > th:first-child {
    border-left: none;
  }

  & tr:first-child {
    & > th:first-child {
      border-radius: 0 0 0 0.28571429rem;
    }
    & > th:last-child {
      border-radius: 0 0 0.28571429rem 0;
    }
    & > th:only-child {
      border-radius: 0 0 0.28571429rem 0.28571429rem;
    }
  }

}
