@import "lib/style/base.scss";

.sidebar-notice {
  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  font-family: 'Proxima Nova Regular', serif;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: $red-color;
  width: 100%;

  display: flex;
  align-items: center;

  @media screen and (max-width: $break-lg) {
    justify-content: center;
  }
  &_icon {
    // TODO заменить на иконку!!!
    img {
      display: block;
      margin: 0 auto;
      width: 22px;
      height: auto;
    }
  }

  &_message {
    color: $white-color;
    font-size: 18px;
    @media screen and (max-width: $break-lg) {
      display: none;
    }
  }
}

