@import "lib/style/vars.scss";

.sidebar-notice {
  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  font-family: $font-regular-serif;
  font-weight: bold;
  //padding-top: 13px;
  //padding-bottom: 13px;
  height: 40px;
  overflow: hidden;
  background-color: $red-color;
  width: 100%;

  @media screen and (max-width: $break-lg) {
    justify-content: center;
  }

  &_icon {
    // TODO заменить на иконку!!!
    img {
      display: block;
      margin: 0 auto;
      width: 22px;
      height: auto;
    }
  }

  &_message {
    color: $white-color;
    font-size: 16px;
    letter-spacing: 0.5px;
    @media screen and (max-width: $break-lg) {
      display: none;
    }
  }
}

