@import "lib/style/vars.scss";

.sidebar-notice {
  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  font-family: $font-regular-serif;
  font-weight: bold;

  height: 40px;
  overflow: hidden;
  background-color: $red-color;
  width: 100%;
  white-space: nowrap;

  &_icon {
    svg {
      display: block;
      margin: 0 auto;
    }
  }

  &_message {
    color: $white-color;
    font-size: 16px;
    cursor: default;
    letter-spacing: 0.5px;
    @media screen and (max-width: $break-lg) {
      display: none;
    }
  }
}

