@import 'lib/style/vars.scss';

.amount {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  display: inline-block;
  white-space: nowrap;
  font-family: $font-regular;

  &_minor-wrapper {
    display: inline-block;
  }

  &_currency {
    display: inline-block;
    text-align: right;
    margin-left: 0.3rem;
  }

  &_separator, &_minor, &_currency {

    &__light {
      opacity: 0.6;
    }
  }

  &_sign {
    margin-right: 1px;
  }

  &_operation {
    &__color {
      &_minus {
        color: darken($red-color, 10%);
      }
      &_plus {
        color: darken($green-color, 10%);
      }
    }
  }
}
