.amount {
  display: inline-block;
  white-space: nowrap;

  &__minor-wrapper {
    display: inline-block;
  }

  &__currency {
    display: inline-block;
    min-width: 1em;
    text-align: right;
    margin-right: 5px;
  }

  &__separator, &__minor, &__currency {
    opacity: 0.6;
  }

  .heading {
    margin: 0;
  }
}
