.amount {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  display: inline-block;
  white-space: nowrap;

  &_minor-wrapper {
    display: inline-block;
  }

  &_currency {
    display: inline-block;
    min-width: 1em;
    text-align: right;
  }

  &_separator, &_minor, &_currency {
    opacity: 0.6;
  }

  &__size {
  //  TODO
  }

}
