@import 'lib/style/vars.scss';

$item-bgc:            #F1FAFF;

.tabs {
  &-p {
    margin: 0;
  }

  &-item {
    margin: 1.5rem 0;
  }
  &-inner {
    position: relative;
  }
  &-menu {
    &_item {
      display: inline-block;
      margin-left: 2.5rem;
      border-radius: 3px;
      padding: 0.5rem;
      background-color: transparent;
      transition: background-color 0.2s ease;
      &:first-child {
        margin-left: 0;
      }
      &__active {
        background-color: $item-bgc;
        > p {
          color: $lightblue-color;
        }
      }

      &:hover {
        background-color: $item-bgc;
        p {
          color: $lightblue-color;
        }
      }
    }

    &_item-icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: 3px;
      cursor: pointer;
    }

    &_item-link {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.48rem;
      position: relative;
      cursor: pointer;
      p {
        font-family: $font-semibold-serif;
        text-decoration: none;
        transition: color 0.2s ease;
      }
    }
  }
}

