$notification-title-color:        #ffffff;
$notification-body-color:         #ffffff;
$notification-success-bgc:        #35B224;
$notification-error-bgc:          #fb434a;
$notification-info-bgc:           #0A7AF3;

.notification {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999999;

  &_item {
    width: auto;
    margin: 10px 20px;
    border-radius: 2px;
    display: inline-block;
    z-index: 9999999;
    & > p {
      opacity: .8;
      margin-right: 10px;
      margin-left: 10px;
    }
    &__success {
      background-color: $notification-success-bgc;
    }
    &__error {
      background-color: $notification-error-bgc;
    }
    &__info {
      background-color: $notification-info-bgc;
    }
  }

  &_title {
    font-weight: 700;
    display: inline-block;
    color: $notification-title-color;
  }
  &_body {
    display: inline-block;
    color: $notification-body-color;
  }
}


