@import 'lib/style/vars.scss';

$user-bgc: #dbe1e8;

.user-info {

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  background-color: $user-bgc;
  font-family: $font-regular-serif;
  height: 80px;

  &_avatar {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background: darken($white-color, 5%);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease;
    &:hover {
      background: darken($white-color, 1%);
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &_name {

    color: rgb(140, 139, 160);
    transition: color 0.3s ease;

    &:hover {
      color: lighten(rgb(140,137,160), 10%);
    }

    font-size: 1.1em;
    cursor: pointer;
    text-decoration: underline;
  }

}
