@import 'lib/style/base.scss';

.user-info {
  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  padding-top: 20px;
  padding-bottom: 20px;

  //padding: 25px 20px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $break-lg) {
    justify-content: center;
  }

  &_avatar {

  }
  &_name {

    color: #9291A8;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    @media screen and (max-width: $break-lg) {
      display: none;
    }
  }
}
