@import "lib/style/breakpoints.scss";

$table-border-color:                            rgba(34, 36, 38, 0.15);
$table-border-radius:                           4px;

$table-thead-th-padding-top:                    1em;
$table-thead-th-padding-bottom:                 1em;

$table-break-sm-padding:                        0.45em 0.75em;

.table {

  width: 100%;
  background: #FFFFFF;
  margin: 1em 0;
  border: 1px solid $table-border-color;
  box-shadow: none;
  border-radius: $table-border-radius;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1em;

  &:first-child {

    margin-top: 0;

  }

  &:last-child {

    margin-bottom: 0;

  }

  & th, & td {

    transition: background 0.1s ease, color 0.1s ease;

  }

  &__singleLine {

    white-space: nowrap;

  }

  &__columns {

    &_one td {

      width: 100%;

    }

    &_two td {

      width: 50%;

    }

    &_three td {

      width: 33.33333333%;

    }

    &_four td {

      width: 25%;

    }

    &_five td {

      width: 20%;

    }

    &_six td {

      width: 16.66666667%;

    }

    &_seven td {

      width: 14.28571429%;

    }

    &_eight td {

      width: 12.5%;

    }

    &_nine td {

      width: 11.11111111%;

    }

    &_ten td {

      width: 10%;

    }

    &_eleven td {

      width: 9.09090909%;

    }

    &_twelve td {

      width: 8.33333333%;

    }

    &_thirteen td {

      width: 7.69230769%;

    }

    &_fourteen td {

      width: 7.14285714%;

    }

    &_fifteen td {

      width: 6.66666667%;

    }

    &_sixteen td {

      width: 6.25%;

    }

  }

  /* TD, TH Column wide */

  & th.wide_one, & td.wide_one {

    width: 6.25%;

  }

  & th.wide_two, & td.wide_two {

    width: 12.5%;

  }

  & th.wide_three, & td.wide_three {

    width: 18.75%;

  }

  & th.wide_four, & td.wide_four {

    width: 25%;

  }

  & th.wide_five, & td.wide_five {

    width: 31.25%;

  }

  & th.wide_six, & td.wide_six {

    width: 37.5%;

  }

  & th.wide_seven, & td.wide_seven {

    width: 43.75%;

  }

  & th.wide_eight, & td.wide_eight {

    width: 50%;

  }

  & th.wide_nine, & td.wide_nine {

    width: 56.25%;

  }

  & th.wide_ten, & td.wide_ten {

    width: 62.5%;

  }

  & th.wide_eleven, & td.wide_eleven {

    width: 68.75%;

  }

  & th.wide_twelve, & td.wide_twelve {

    width: 75%;

  }

  & th.wide_thirteen, & td.wide_thirteen {

    width: 81.25%;

  }

  & th.wide_fourteen, & td.wide_fourteen {

    width: 87.5%;

  }

  & th.wide_fifteen, & td.wide_fifteen {

    width: 93.75%;

  }

  & th.wide_sixteen, & td.wide_sixteen {

    width: 100%;

  }

  & th.wide_equal, & td.wide_equal {

    width: 100%;
    flex: 1 1 auto;

  }

  & tr {

    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;

  }

  & tr > th, & tr > td {

    background: none;
    border: none;
    padding: $table-break-sm-padding;
    box-shadow: none !important;

  }

  & thead tr > th {
    padding-top: $table-thead-th-padding-top;
    padding-bottom: $table-thead-th-padding-bottom;
  }


  @media screen and (max-width: $break-sm) {

    &:not(.unstackable) {

      width: 100%;
      padding: 0;

      & tbody,
      & tr,
      & tr > th,
      & tr > td {

        width: auto !important;
        display: block !important;

      }

      & thead, & tfoot {

        display: block;

      }

      & tr {

        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset !important;

      }

      & tr > th, & tr > td {

        background: none;
        border: none !important;
        padding: $table-break-sm-padding;
        box-shadow: none !important;

      }

    }
  }

  // Рамка внутри

  &__celled {

    & th, & td {

      border-left: 1px solid rgba(34, 36, 38, 0.1) !important;

      &:first-child {

        border-left: none !important;

      }

    }

  }

  // Компактный вид

  &__compact {

    & th {
      padding-left: 0.4em !important;
      padding-right: 0.4em !important;
    }

    & td {
      padding: 0.2em 0.4em !important;
    }

  }

  // Размер шрифта

  &__size {

    &_xs {

      font-size: 0.7em;

    }

    &_sm {

      font-size: 0.8em;

    }

    &_md {

      font-size: 0.9em;

    }

    &_lg {

      font-size: 1.1em;

    }

  }

  // Выравнивание текста

  &__align {

    &_left {

      text-align: left;

    }

    &_center {

      text-align: center;

    }

    &_right {

      text-align: right;

    }

    &_justify {

      text-align: justify;

    }

  }

  // Фиксация

  &__fixed {
    table-layout: fixed;

    & th,
    & td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Сортировка

  &__sortable {

    & th.table-header_cell__sorted {

      background-color: rgba(0, 0, 0, 0.05) !important;
      color: rgba(0, 0, 0, 0.95);

      &:after {

        display: inline-block;

      }

    }

    & thead th {

      cursor: pointer;
      white-space: nowrap;
      border-left: 1px solid rgba(34, 36, 38, 0.15) !important;
      color: rgba(0, 0, 0, 0.87) !important;

      &:first-child {

        border-left: none !important;

      }

      &:after {
          display: none;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          content: '';
          height: 1em;
          width: auto;
          opacity: 0.8;
          margin: 0 0 0 0.5em;
      }


    }

    & thead th.sorted {

      user-select: none;

    }

    & thead th.table-header_cell__sorted_ascending {

      &:after {

        content: 'Up';

      }

    }

    & thead th.table-header_cell__sorted_desceding {

      &:after {

        content: 'Down';

      }

    }

  }

}

