@import "lib/style/vars.scss";

$table-border-color:                            rgba(34, 36, 38, 0.15);
$table-border-radius:                           4px;

$table:               table;

.table {

  width: 100%;
  margin: 1em 0;
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  box-shadow: none;
  border-radius: 4px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1em;
  color: $black-color;
  font-family: $font-regular-serif;
  cursor: default;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & th,
  & td {
    transition: background 0.1s ease, color 0.1s ease;
  }

  & thead th {
    cursor: auto;
    background: #F9FAFB;
    position: relative;
    text-align: inherit;
    color: rgba(0, 0, 0, 0.87);
    padding: 1em 0.7em;
    vertical-align: inherit;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    border-left: none;
  }

  & thead tr {
    & > th:first-child {
      border-left: none;
    }
    &:first-child > th:first-child {
      border-radius: 0.28571429rem 0 0 0;
    }
    &:first-child > th:last-child {
      border-radius: 0 0.28571429rem 0 0;
    }
    &:first-child > th:only-child {
      border-radius: 0.28571429rem 0.28571429rem 0 0;
    }
  }

  & tfoot {
    box-shadow: none;
  }

  & tfoot th {
    cursor: auto;
    border-top: 1px solid $table-border-color;
    background: #F9FAFB;
    text-align: inherit;
    color: rgba(0, 0, 0, 0.87);
    padding: 0.78571429em 0.78571429em;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
  }

  & tfoot tr {

    & > th:first-child {
      border-left: none;
    }

    &:first-child > th:first-child {
      border-radius: 0 0 0 0.28571429rem;
    }
    &:first-child > th:last-child {
      border-radius: 0 0 0.28571429rem 0;
    }
    &:first-child > th:only-child {
      border-radius: 0 0 0.28571429rem 0.28571429rem;
    }

  }


  & tr td {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
  }
  & tr:first-child td {
    border-top: none;
  }

  & tbody {
    margin-top: 10px !important;
  }

  & tbody + tbody tr:first-child td {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
  }

  & td {
    padding: 1.5rem 0.7em;
    text-align: inherit;
  }

  & tr {
    &:nth-child(2n) {
      background-color: #f0faff;
    }
  }

  @media only screen and (max-width: $break-sm) {
    &:not(&__unstackable) {
      width: 100%;
    }
    &:not(&__unstackable) tbody,
    &:not(&__unstackable) tr,
    &:not(&__unstackable) tr > th,
    &:not(&__unstackable) tr > td {
      width: auto !important;
      font-size: 0.8rem;
    }
    &:not(&__unstackable) thead {
      text-align: center;
    }
    &:not(&__unstackable) {
      .label {
        padding: 5px;
        font-family: $font-regular-serif;
        font-size: 0.7rem;
      }
    }
    &:not(&__unstackable) tr {
      -webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
      box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
    }
    &:not(&__unstackable) tr > th,
    &:not(&__unstackable) tr > td {
      background: none;
      border: none !important;
      padding: 0.6rem 0.75rem !important;
      box-shadow: none !important;
    }
  }
  @media only screen and (max-width: $break-490) {
    &:not(&__unstackable) {
      width: 100%;
    }
    &:not(&__unstackable) tbody,
    &:not(&__unstackable) tr,
    &:not(&__unstackable) tr > th,
    &:not(&__unstackable) tr > td {
      width: auto !important;
      display: block !important;
    }
    &:not(&__unstackable) {
      padding: 0em;
    }
    &:not(&__unstackable) thead {
      display: none;
    }
    &:not(&__unstackable) tfoot {
      display: none;
    }
    &:not(&__unstackable) tr {
      padding-top: 1em;
      padding-bottom: 1em;
      -webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
      box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
    }
    &:not(&__unstackable) tr > th,
    &:not(&__unstackable) tr > td {
      background: none;
      border: none !important;
      text-align: center;
      padding: 0.25em 0.75em !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    &:not(&__unstackable) th:first-child,
    &:not(&__unstackable) td:first-child {
      font-weight: bold;
    }
  }
  @media only screen and (max-width: $break-md) {
    // Стакивание td блоков
    &__stackable {
      padding: 0;
      & tbody,
      & tr,
      & tr > th,
      & tr > td {
        width: 100% !important;
        display: block !important;
      }
      & thead,
      & tfoot {
        display: block;
      }
      & tr {
        padding-top: 1em;
        padding-bottom: 1em;
        -webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
        box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
      }

      & tr > th,
      & tr > td {
        background: none;
        border: none !important;
        padding: 0.25em 0.75em;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    }
  }

  & th .image,
  & th .image img,
  & td .image,
  & td .image img {
    max-width: none;
  }

  // Выравнивание текста
  &__align {
    &_left {
      text-align: left !important;
    }
    &_center {
      text-align: center !important;
    }
    &_right {
      text-align: right !important;
    }
    &_justify {
      text-align: justify !important;
    }
  }

  //Выравниванием по вертикали

  &__vertical-align {
    &_top{
      vertical-align: top;
    }
    &_middle{
      vertical-align: middle;
    }
    &_bottom{
      vertical-align: bottom;
    }
  }

  // Фиксирование элементов таблицы (запрет изменения при изменении содержимого)

  &__fixed {
    table-layout: fixed;
    & th,
    & td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Для форматирования структурированых данных

  &__structured {
    border-collapse: collapse;
    & thead th {
      border-left: none;
      border-right: none;
    }
  }


  // Выделение

  &__selectable {
    & tbody tr:hover {
      background: rgba(0, 0, 0, 0.05) !important;
      color: rgba(0, 0, 0, 0.95) !important;
    }
  }

  &_cell, &_row {
    &__disabled {
      pointer-events: none;
      cursor: auto;
      color: rgba(40, 40, 40, 0.3);
      &:hover {
        color: rgba(40, 40, 40, 0.3);
      }
    }
    &__date {
      background-color: #FAFBFC;
      color: $blue-color;
    }
    &__active {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.87) inset;
      background: #E0E0E0 !important;
      color: rgba(0, 0, 0, 0.87) !important;
    }
    &__error {
      box-shadow: 0 0 0 $error-box-shadow-color inset;;
      background: $error-bg-color !important;
      color: $error-color !important;
    }
    &__warning {
      box-shadow: 0 0 0 #C9BA9B inset;
      background: #FFFAF3 !important;
      color: #573A08 !important;
    }
    &__processing {
      box-shadow: 0 0 0 #D0D1D2 inset;
      //background: #FAFBFC !important;
      background: #999;
    }
    &__complete {
      background: #FFFFFF !important;
      color: #333333 !important;
    }
    &__collapsing {
      width: 1px;
      white-space: nowrap;
    }
    &__singleLine {
      white-space: nowrap;
    }
  }

  &_cell {
    &__selectable:hover {
      background: rgba(0, 0, 0, 0.05) !important;
      color: rgba(0, 0, 0, 0.95) !important;
    }
  }

  &_row {

  }
  &.#{$table}__structured.#{$table}__sortable {
    & thead th {
      border-left: 1px solid $table-border-color;
      border-right: 1px solid $table-border-color;
    }
    & th {
      border-left: none;
      border-right: none;
    }
    & tr th,
    & tr td {
      border-left: 1px solid rgba(34, 36, 38, 0.1);
      border-right: 1px solid rgba(34, 36, 38, 0.1);
    }
  }

  &__attached {
    top: 0;
    bottom: 0;
    position: absolute;
    border-radius: 0;
    margin: 0em -1px;
    width: calc(100% +  2px );
    max-width: calc(100% +  2px );
    box-shadow: none;
    border: 1px solid #D4D4D5;
    &:not(&_top) {
      border-top: none;
    }
    &_top {
      bottom: 0;
      margin-bottom: 0;
      top: 0;
      margin-top: 1em;
      border-radius: 0.28571429rem 0.28571429rem 0 0;
      &:first-child {
        margin-top: 0;
      }
    }
    &_bottom {
      bottom: 0;
      margin-top: 0em;
      top: 0;
      margin-bottom: 1em;
      box-shadow: none;
      border-radius: 0 0 0.28571429rem 0.28571429rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__columns {
    &_one td {
      width: 100%;
    }
    &_two td {
      width: 50%;
    }
    &_three td {
      width: 33.33333333%;
    }
    &_four td {
      width: 25%;
    }
    &_five td {
      width: 20%;
    }
    &_six td {
      width: 16.66666667%;
    }
    &_seven td {
      width: 14.28571429%;
    }
    &_eight td {
      width: 12.5%;
    }
    &_nine td {
      width: 11.11111111%;
    }
    &_ten td {
      width: 10%;
    }
    &_eleven td {
      width: 9.09090909%;
    }
    &_twelve td {
      width: 8.33333333%;
    }
    &_thirteen td {
      width: 7.69230769%;
    }
    &_fourteen td {
      width: 7.14285714%;
    }
    &_fifteen td {
      width: 6.66666667%;
    }
    &_sixteen td {
      width: 6.25%;
    }
  }

  ///* TD, TH Column wide */

  & th.wide_one, & td.wide_one {
    width: 6.25%;
  }
  & th.wide_two, & td.wide_two {
    width: 12.5%;
  }
  & th.wide_three, & td.wide_three {
    width: 18.75%;
  }
  & th.wide_four, & td.wide_four {
    width: 25%;
  }
  & th.wide_five, & td.wide_five {
    width: 31.25%;
  }
  & th.wide_six, & td.wide_six {
    width: 37.5%;
  }
  & th.wide_seven, & td.wide_seven {
    width: 43.75%;
  }
  & th.wide_eight, & td.wide_eight {
    width: 50%;
  }
  & th.wide_nine, & td.wide_nine {
    width: 56.25%;
  }
  & th.wide_ten, & td.wide_ten {
    width: 62.5%;
  }
  & th.wide_eleven, & td.wide_eleven {
    width: 68.75%;
  }
  & th.wide_twelve, & td.wide_twelve {
    width: 75%;
  }
  & th.wide_thirteen, & td.wide_thirteen {
    width: 81.25%;
  }
  & th.wide_fourteen, & td.wide_fourteen {
    width: 87.5%;
  }
  & th.wide_fifteen, & td.wide_fifteen {
    width: 93.75%;
  }
  & th.wide_sixteen, & td.wide_sixteen {
    width: 100%;
  }
  & th.wide_equal, & td.wide_equal {
    width: 100%;
    flex: 1 1 auto;
  }

  &__sortable {
    & th.table_cell__sorted {
      background-color: rgba(0, 0, 0, 0.05) !important;
      color: rgba(0, 0, 0, 0.95);
      &:after {
        display: inline-block;
      }
    }
    & thead th {
      cursor: pointer;
      white-space: nowrap;
      //border-left: 1px solid $table-border-color !important;
      color: rgba(0, 0, 0, 0.87) !important;
      &:first-child {
        border-left: none !important;
      }
      &:after {
        display: none;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        content: '';
        height: 1em;
        width: auto;
        opacity: 0.8;
        margin: 0 0 0 0.5em;
      }
    }
    & thead th.sorted {
      user-select: none;
    }
    & thead th.table_cell__sorted_asc {
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: auto;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid rgba(99,99,99,1);
      }
    }
    & thead th.table_cell__sorted_desc {
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: auto;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(99,99,99,1);
      }
    }
  }

  // Definition

  &__definition {
    & thead:not(.table_header__size-full-width) th:first-child {
      pointer-events: none;
      background: transparent;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.4);
      box-shadow: -1px -1px 0 1px #FFFFFF;
    }
    & thead:not(.table_header__size-full-width) th:first-child {
      pointer-events: none;
      background: transparent;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 0 1px #FFFFFF;
    }
    &.#{$table}__celled {
      & thead:not(.table_header__size-full-width) th:first-child {
        box-shadow: 0 -1px 0 1px #FFFFFF;
      }
      & tfoot:not(.table_header__size-full-width) th:first-child {
        box-shadow: 0 1px 0 1px #FFFFFF;
      }
    }
    & tr td:first-child:not(.ignored),
    & tr td.definition {
      background: rgba(0, 0, 0, 0.03);
      font-weight: bold;
      color: rgba(0, 0, 0, 0.95);
    }
    & thead:not(.table_header__size-full-width) th:nth-child(2) {
      border-left: 1px solid $table-border-color;
    }
    & tfoot:not(.table_header__size-full-width) th:nth-child(2) {
      border-left: 1px solid $table-border-color;
    }
    & td:nth-child(2) {
      border-left: 1px solid $table-border-color;
    }
  }

  // Collapsing

  &__collapsing {
    width: auto;
  }

  // Табличный вид (рамки везде)

  &__celled {
    & tr th, & tr td {
      border-left: 1px solid rgba(34, 36, 38, 0.1);
      &:last-child {
        border-right: 1px solid rgba(34, 36, 38, 0.1);
      }
    }
  }

  // Компактный вид

  &__compact {
    & th {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
    & td {
      padding: 0.2em 0.4em;
    }
  }

  // Размер шрифта

  &__size {
    &_xs {
      font-size: 0.7em;
    }
    &_sm {
      font-size: 0.8em;
    }
    &_md {
      font-size: 0.9em;
    }
    &_lg {
      font-size: 1.1em;
    }
  }

}

