@import "lib/style/colors.scss";
$table_row_border_top_color:          rgba(34, 36, 38, 0.1);

.table_row {

  & td td {
    border-top: 1px solid $table_row_border_top_color;
  }

  & tr:first-child td {
    border-top: none;
  }

  &__error {
    box-shadow: 0 0 0 $error-box-shadow-color inset;;
    background: $error-bg-color !important;
    color: $error-color !important;
  }

}
